extends layout

block content
    .text-center.vertical-center
        .row
            .col
                h4.display-4 404 - Item not found.
        .row 
            .col
                p The Princess you are looking for is in another castle.