doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/lib/fontawesome-5.11.2/css/fa.css')
    link(rel='stylesheet', href='/lib/bootstrap-4.4.1/css/bootstrap.min.css')
  body
    .container.text-center(role='main')
      block content
    script(src='/js/site.js')